.nav {
    grid-area: n;
    background-color: rgb(230, 252, 221);
    padding-left: 150px;
    padding-top: 20px;
}

.item {
    color: green;
}

.active {
    color: red;
}

.item img{
    width: 40px;
}