.searchbar {
    grid-area: search-bar;
    width: auto;
    height: auto;
    display: grid;
    padding-left: 5px;
    grid-template-areas: 
    "search login";
    grid-template-columns: 97% 3%;
    background-color: rgb(230, 252, 221);
  }