.app-wrapper {
  margin: 0 auto;
  width: auto;
  height: 937px;
  display: grid;
  grid-template-areas: 
  "logo search-bar"
  "n c";
  grid-template-rows: 6% 94%;
  grid-template-columns: 3% 97%;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(230, 252, 221);
}