.app-wrapper {
  margin: 0 auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas: 
  "logo search-bar"
  "photo bio"
  "n c";
  grid-template-rows: 3% 17% 80%;
  grid-template-columns: 18% 82%;
}